In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [37]:
df = pd.read_csv('../data/2018-2019/nacional/conjunto_de_datos/datos_mexico_2019.csv')

C:\Users\isaij\AppData\Local\Temp\ipykernel_35596\1072461261.py:1: DtypeWarning: Columns (0,46) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/2018-2019/nacional/conjunto_de_datos/datos_mexico_2019.csv')

In [38]:
df2 = pd.read_csv('../data/2018-2019/cdmx/hechos-de-transito-reportados-por-ssc-base-comparativa.csv')

# Datos nacionales

In [39]:
df.head()

,ID,EDO,MES,ANIO,MPIO,HORA,MINUTOS,DIA,DIASEMANA,URBANA,...,OTROMUERTO,OTROHERIDO,TOTMUERTOS,TOTHERIDOS,CLASE,CALLE1,CALLE2,CARRETERA,LONGITUD,LATITUD
0,8,1,1,2019,1,4,0,3,4,1,...,0,0,0,0,3,BOULEVARD LICENCIADO ADOLFO RUÍZ CORTINES,CALLE PASEO DEL RÍO,NaN,-102.31962,21.87119
1,9,1,1,2019,1,9,45,3,4,1,...,0,0,0,0,3,AVENIDA PASEO DE LA SOLIDARIDAD,AVENIDA AGUASCALIENTES NORTE,NaN,-102.28652,21.91522
2,10,1,1,2019,1,10,40,3,4,1,...,0,0,0,0,3,AVENIDA UNIVERSIDAD,CALLE ABEDUL,NaN,-102.30621,21.90032
3,11,1,1,2019,1,14,55,3,4,1,...,0,0,0,1,2,AVENIDA MAHATMA GANDHI,CALLE ABRAHAM GONZÁLEZ,NaN,-102.29386,21.84853
4,12,1,1,2019,1,19,0,3,4,1,...,0,0,0,0,3,AVENIDA GLORIETA BENITO JUÁREZ,CALLE IGNACIO T. CHÁVEZ,NaN,-102.30055,21.87392

In [40]:
df.tail()

,ID,EDO,MES,ANIO,MPIO,HORA,MINUTOS,DIA,DIASEMANA,URBANA,...,OTROMUERTO,OTROHERIDO,TOTMUERTOS,TOTHERIDOS,CLASE,CALLE1,CALLE2,CARRETERA,LONGITUD,LATITUD
180214,615,32,12,2019,56,1,39,25,3,1,...,0,0,0,0,3,AVENIDA HIDALGO,CALLEJÓN CALLEJÓN DE GÓMEZ FARÍAS,NaN,-102.57270,22.77540
180215,616,32,12,2019,56,2,50,27,5,1,...,0,0,0,0,3,CALLE JESÚS GONZÁLEZ ORTEGA,CALLE VALENTÍN GÓMEZ FARÍAS,NaN,-102.59222,22.76806
180216,617,32,12,2019,56,9,37,27,5,1,...,0,0,0,0,3,CALZADA REYES HEROLES FRENTE FINCA URBANA NUME...,NaN,NaN,-102.57728,22.76134
180217,619,32,12,2019,56,18,40,30,1,1,...,0,0,0,2,2,CALZADA HÉROES DE CHAPULTEPEC,CALLE MIGUEL CALDERA,NaN,-102.59398,22.77347
180218,620,32,12,2019,56,15,45,31,2,1,...,0,0,0,0,3,CALLE PASEO FRANCISCO GARCÍA SALINAS,CALLE PASEO DE LA CAÑADA,NaN,-102.54566,22.75993

In [41]:
df.shape

(180219, 49)

In [42]:
df.columns

Index(['ID', 'EDO', 'MES', 'ANIO', 'MPIO', 'HORA', 'MINUTOS', 'DIA',
       'DIASEMANA', 'URBANA', 'SUBURBANA', 'TIPACCID', 'AUTOMOVIL', 'CAMPASAJ',
       'MICROBUS', 'PASCAMION', 'OMNIBUS', 'TRANVIA', 'CAMIONETA', 'CAMION',
       'TRACTOR', 'FERROCARRI', 'MOTOCICLET', 'BICICLETA', 'OTROVEHIC',
       'CAUSAACCI', 'CAPAROD', 'SEXO', 'ALIENTO', 'CINTURON', 'EDAD',
       'CONDMUERTO', 'CONDHERIDO', 'PASAMUERTO', 'PASAHERIDO', 'PEATMUERTO',
       'PEATHERIDO', 'CICLMUERTO', 'CICLHERIDO', 'OTROMUERTO', 'OTROHERIDO',
       'TOTMUERTOS', 'TOTHERIDOS', 'CLASE', 'CALLE1', 'CALLE2', 'CARRETERA',
       'LONGITUD', 'LATITUD'],
      dtype='object')

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180219 entries, 0 to 180218
Data columns (total 49 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   ID          180219 non-null  object
 1   EDO         180219 non-null  int64
 2   MES         180219 non-null  int64
 3   ANIO        180219 non-null  int64
 4   MPIO        180219 non-null  int64
 5   HORA        180219 non-null  int64
 6   MINUTOS     180219 non-null  int64
 7   DIA         180219 non-null  int64
 8   DIASEMANA   180219 non-null  int64
 9   URBANA      180219 non-null  int64
 10  SUBURBANA   180219 non-null  int64
 11  TIPACCID    180219 non-null  int64
 12  AUTOMOVIL   180219 non-null  int64
 13  CAMPASAJ    180219 non-null  int64
 14  MICROBUS    180219 non-null  int64
 15  PASCAMION   180219 non-null  int64
 16  OMNIBUS     180219 non-null  int64
 17  TRANVIA     180219 non-null  int64
 18  CAMIONETA   180219 non-null  int64
 19  CAMION      180219 non-null  int64
 20  TRACTOR     180219 non-null  int64
 21  FERROCARRI  180219 non-null  int64
 22  MOTOCICLET  180219 non-null  int64
 23  BICICLETA   180219 non-null  int64
 24  OTROVEHIC   180219 non-null  int64
 25  CAUSAACCI   180219 non-null  int64
 26  CAPAROD     180219 non-null  int64
 27  SEXO        180219 non-null  int64
 28  ALIENTO     180219 non-null  int64
 29  CINTURON    180219 non-null  int64
 30  EDAD        180219 non-null  int64
 31  CONDMUERTO  180219 non-null  int64
 32  CONDHERIDO  180219 non-null  int64
 33  PASAMUERTO  180219 non-null  int64
 34  PASAHERIDO  180219 non-null  int64
 35  PEATMUERTO  180219 non-null  int64
 36  PEATHERIDO  180219 non-null  int64
 37  CICLMUERTO  180219 non-null  int64
 38  CICLHERIDO  180219 non-null  int64
 39  OTROMUERTO  180219 non-null  int64
 40  OTROHERIDO  180219 non-null  int64
 41  TOTMUERTOS  180219 non-null  int64
 42  TOTHERIDOS  180219 non-null  int64
 43  CLASE       180219 non-null  int64
 44  CALLE1      180212 non-null  object
 45  CALLE2      175938 non-null  object
 46  CARRETERA   1420 non-null    object
 47  LONGITUD    180219 non-null  float64
 48  LATITUD     180219 non-null  float64
dtypes: float64(2), int64(43), object(4)
memory usage: 67.4+ MB

In [44]:
df.describe()

,EDO,MES,ANIO,MPIO,HORA,MINUTOS,DIA,DIASEMANA,URBANA,SUBURBANA,...,PEATHERIDO,CICLMUERTO,CICLHERIDO,OTROMUERTO,OTROHERIDO,TOTMUERTOS,TOTHERIDOS,CLASE,LONGITUD,LATITUD
count,180219.000000,180219.000000,180219.0,180219.000000,180219.000000,180219.000000,180219.000000,180219.000000,180219.000000,180219.000000,...,180219.000000,180219.000000,180219.000000,180219.000000,180219.000000,180219.000000,180219.000000,180219.000000,180219.000000,180219.000000
mean,16.373285,6.545558,2019.0,32.148148,12.750037,25.999723,15.630733,3.972334,1.019510,0.026157,...,0.034147,0.000333,0.006242,0.000022,0.000283,0.006331,0.188970,2.851137,-101.874718,24.044809
std,7.100668,3.477758,0.0,30.395565,5.932928,17.756017,8.798444,1.966724,0.206587,0.248610,...,0.195754,0.018842,0.081054,0.004711,0.018695,0.087753,0.604156,0.372082,4.859086,3.506709
min,1.000000,1.000000,2019.0,1.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,-116.709410,14.857960
25%,11.000000,3.000000,2019.0,14.000000,8.000000,10.000000,8.000000,2.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,-103.391610,20.657340
50%,19.000000,7.000000,2019.0,26.000000,13.000000,27.000000,15.000000,4.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,-100.375640,25.631370
75%,19.000000,10.000000,2019.0,39.000000,18.000000,40.000000,23.000000,6.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,-100.219350,25.747780
max,32.000000,12.000000,2019.0,193.000000,23.000000,59.000000,31.000000,7.000000,2.000000,3.000000,...,7.000000,2.000000,3.000000,1.000000,2.000000,6.000000,32.000000,3.000000,-86.746330,32.670720

In [45]:
df.describe(include=['O'])

,ID,CALLE1,CALLE2,CARRETERA
count,180219,180212,175938,1420
unique,45850,22976,26904,25
top,413,AVENIDA EUGENIO GARZA SADA,CALZADA FRANCISCO I. MADERO,
freq,38,1907,1141,1382

### Resumen

**180,219 datos de 49 columnas**
Año 2019 únicamente

**Datos perdidos**:
- CALLE1: 7
- CALLE2: 4,281
- CARRETERA: 178,799

**Columnas destacables**:
- TIPACCID (Tipo de accidente):
     - 0: Certificado 0
     - 1: Colisión con vehículo automotor
     - 2: Colisión con peatón (atropellamiento)
     - 3: Colisión con animal
     - 4: Colisión con objeto fijo
     - 5: Volcadura
     - 6: Caída de pasajero
     - 7: Salida del camino
     - 8: Incendio
     - 9: Colisión con ferrocarril
     - 10: Colisión con motocicleta
     - 11: Colisión con ciclista
     - 12: Otro
- CAUSAACCI (Causa de accidente)
    - 1: Conductor 
    - 2: Peatón o pasajero
    - 3: Falla de vehículo
    - 4: Mala condición del camino
    - 5: Otra
- CAPAROD (Capa de rodamiento)
    - 1: Pavimentada
    - 2: No pavimentada
- SEXO
    - 1: Se fugó
    - 2: Hombre
    - 3: Mujer
- ALIENTO
- HERIDOS, MUERTOS
- CLASE
    - 1: Fatal 
    - 2: No fatal
    - 3: Sólo daños

# Datos de CDMX

In [46]:
df2.head()

,id,no_folio,fecha_evento,ano_evento,mes,hora,condicion,tipo_de_evento,coordenada_x,coordenada_y,...,identidad,unidad_medica_de_apoyo,lugar_del_deceso,trasladado_s_lesionado,hospital,dia,hora2,prioridad,observaciones,coordenada
0,0,906379,2019-01-01,2019,Enero,10:13,LESIONADO,ATROPELLADO,-99.143964,19.307892,...,PEATON,ERUM,NaN,1.0,PEDIATRICO DE COYOACAN,martes,10.0,MEDIA,NaN,"19.307892,-99.143964"
1,1,906166,2019-01-01,2019,Enero,7:39,LESIONADO,CHOQUE,-99.136425,19.470067,...,CONDUCTOR,ERUM,NaN,0.0,NaN,martes,7.0,BAJA,NaN,"19.470067,-99.136425"
2,2,906349,2019-01-01,2019,Enero,9:58,LESIONADO,CHOQUE,-99.069299,19.411029,...,CONDUCTOR,CRUZ ROJA,NaN,0.0,NaN,martes,9.0,BAJA,POSTE,"19.411029,-99.069299"
3,3,906469,2019-01-01,2019,Enero,11:35,LESIONADO,CHOQUE,-99.124262,19.470372,...,CONDUCTOR,CRUZ ROJA,NaN,1.0,ANGELES LINDAVISTA,martes,11.0,MEDIA,SEÑALAMIENTO,"19.470372,-99.124262"
4,4,907106,2019-01-01,2019,Enero,19:26,LESIONADO,CHOQUE,-98.996834,19.348251,...,CONDUCTOR,ERUM,NaN,0.0,NaN,martes,19.0,BAJA,NaN,"19.348251,-98.996834"

In [47]:
df2.tail()

,id,no_folio,fecha_evento,ano_evento,mes,hora,condicion,tipo_de_evento,coordenada_x,coordenada_y,...,identidad,unidad_medica_de_apoyo,lugar_del_deceso,trasladado_s_lesionado,hospital,dia,hora2,prioridad,observaciones,coordenada
30753,30753,567604,2018-06-29,2018,Junio,08:12:00 p. m.,LESIONADO,CHOQUE,-99.216789,19.316302,...,MOTOCICLISTA,PM/ERUM,NaN,1.0,SD,viernes,20.0,MEDIA,NaN,"19.316302,-99.216789"
30754,30754,567773,2018-06-29,2018,Junio,09:53:00 p. m.,LESIONADO,CHOQUE,-99.176464,19.392405,...,CICLISTA,PM/ERUM,NaN,0.0,NaN,viernes,21.0,BAJA,NaN,"19.3924048,-99.1764639"
30755,30755,566355,2018-06-29,2018,Junio,04:38:00 a. m.,LESIONADO,DERRAPADO,-99.144095,19.342768,...,MOTOCICLISTA,ERUM,NaN,0.0,NaN,viernes,4.0,BAJA,NaN,"19.342768,-99.144095"
30756,30756,567760,2018-06-29,2018,Junio,09:46:00 p. m.,LESIONADO,DERRAPADO,-99.133843,19.420006,...,MOTOCICLISTA,PM/ERUM,NaN,0.0,NaN,viernes,21.0,BAJA,NaN,"19.4200064,-99.1338433"
30757,30757,567893,2018-06-29,2018,Junio,11:29:00 p. m.,LESIONADO,DERRAPADO,-99.097561,19.479041,...,MOTOCICLISTA,ERUM,NaN,0.0,NaN,viernes,23.0,BAJA,NaN,"19.4790407,-99.0975605"

In [48]:
df2.shape

(30758, 62)

In [49]:
df2.columns

Index(['id', 'no_folio', 'fecha_evento', 'ano_evento', 'mes', 'hora',
       'condicion', 'tipo_de_evento', 'coordenada_x', 'coordenada_y',
       'punto_1', 'punto_2', 'colonia', 'alcaldia', 'tipo_de_interseccion',
       'tipo_de_vehiculo_1', 'tipo_de_vehiculo_2', 'tipo_de_vehiculo_3',
       'tipo_de_vehiculo_4', 'marca_de_vehiculo_1', 'marca_de_vehiculo_2',
       'marca_de_vehiculo_3', 'marca_de_vehiculo_4', 'lesiones', 'edad_occiso',
       'edad_lesionado', 'se_desconoce_occiso', 'se_desconoce_lesionado',
       'rango_de_edades_menores_de_1_ano_occiso',
       'rango_de_edades_menores_de_1_ano_lesionado', 'rango_edades_1_4_occiso',
       'rango_edades_1_4_lesionado', 'rango_edades_5_14_occiso',
       'rango_edades_5_14_lesionado', 'rango_edades_15_24_occiso',
       'rango_edades_15_24_lesionado', 'rango_edades_25_34_occiso',
       'rango_edades_25_34_lesionado', 'rango_edades_35_44_occiso',
       'rango_edades_35_44_lesionado', 'rango_edades_45_64_occiso',
       'rango_edades_45_64_lesionado', 'rango_edades_65_occiso',
       'rango_edades_65_lesionado', 'total_occisos', 'occisos_femeninos',
       'occisos_masculinos', 'occiso_se_desconoce', 'total_lesionados',
       'lesionados_femeninos', 'lesionados_masculinos',
       'lesionado_se_desconoce', 'identidad', 'unidad_medica_de_apoyo',
       'lugar_del_deceso', 'trasladado_s_lesionado', 'hospital', 'dia',
       'hora2', 'prioridad', 'observaciones', 'coordenada'],
      dtype='object')

In [50]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30758 entries, 0 to 30757
Data columns (total 62 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   id                                          30758 non-null  int64
 1   no_folio                                    30758 non-null  object
 2   fecha_evento                                30758 non-null  object
 3   ano_evento                                  30758 non-null  int64
 4   mes                                         30758 non-null  object
 5   hora                                        30758 non-null  object
 6   condicion                                   30758 non-null  object
 7   tipo_de_evento                              30758 non-null  object
 8   coordenada_x                                30758 non-null  float64
 9   coordenada_y                                30758 non-null  float64
 10  punto_1                                     30758 non-null  object
 11  punto_2                                     30758 non-null  object
 12  colonia                                     30758 non-null  object
 13  alcaldia                                    30758 non-null  object
 14  tipo_de_interseccion                        30758 non-null  object
 15  tipo_de_vehiculo_1                          30758 non-null  object
 16  tipo_de_vehiculo_2                          15981 non-null  object
 17  tipo_de_vehiculo_3                          661 non-null    object
 18  tipo_de_vehiculo_4                          80 non-null     object
 19  marca_de_vehiculo_1                         30755 non-null  object
 20  marca_de_vehiculo_2                         15302 non-null  object
 21  marca_de_vehiculo_3                         653 non-null    object
 22  marca_de_vehiculo_4                         79 non-null     object
 23  lesiones                                    30758 non-null  object
 24  edad_occiso                                 808 non-null    object
 25  edad_lesionado                              30159 non-null  object
 26  se_desconoce_occiso                         30758 non-null  int64
 27  se_desconoce_lesionado                      30758 non-null  int64
 28  rango_de_edades_menores_de_1_ano_occiso     30758 non-null  int64
 29  rango_de_edades_menores_de_1_ano_lesionado  30758 non-null  int64
 30  rango_edades_1_4_occiso                     30758 non-null  int64
 31  rango_edades_1_4_lesionado                  30758 non-null  int64
 32  rango_edades_5_14_occiso                    30758 non-null  int64
 33  rango_edades_5_14_lesionado                 30758 non-null  int64
 34  rango_edades_15_24_occiso                   30758 non-null  int64
 35  rango_edades_15_24_lesionado                30758 non-null  int64
 36  rango_edades_25_34_occiso                   30758 non-null  int64
 37  rango_edades_25_34_lesionado                30758 non-null  int64
 38  rango_edades_35_44_occiso                   30758 non-null  int64
 39  rango_edades_35_44_lesionado                30758 non-null  int64
 40  rango_edades_45_64_occiso                   30758 non-null  int64
 41  rango_edades_45_64_lesionado                30758 non-null  int64
 42  rango_edades_65_occiso                      30758 non-null  int64
 43  rango_edades_65_lesionado                   30758 non-null  int64
 44  total_occisos                               30758 non-null  int64
 45  occisos_femeninos                           30758 non-null  int64
 46  occisos_masculinos                          30758 non-null  int64
 47  occiso_se_desconoce                         30758 non-null  int64
 48  total_lesionados                            30758 non-null  int64
 49  lesionados_femeninos                        30758 non-null  int64
 50  lesionados_masculinos                       30758 non-null  int64
 51  lesionado_se_desconoce                      30758 non-null  int64
 52  identidad                                   30758 non-null  object
 53  unidad_medica_de_apoyo                      30758 non-null  object
 54  lugar_del_deceso                            730 non-null    object
 55  trasladado_s_lesionado                      30758 non-null  float64
 56  hospital                                    8985 non-null   object
 57  dia                                         30758 non-null  object
 58  hora2                                       30750 non-null  float64
 59  prioridad                                   30758 non-null  object
 60  observaciones                               2840 non-null   object
 61  coordenada                                  30758 non-null  object
dtypes: float64(4), int64(28), object(30)
memory usage: 14.5+ MB

In [51]:
df2.describe()

,id,ano_evento,coordenada_x,coordenada_y,se_desconoce_occiso,se_desconoce_lesionado,rango_de_edades_menores_de_1_ano_occiso,rango_de_edades_menores_de_1_ano_lesionado,rango_edades_1_4_occiso,rango_edades_1_4_lesionado,...,total_occisos,occisos_femeninos,occisos_masculinos,occiso_se_desconoce,total_lesionados,lesionados_femeninos,lesionados_masculinos,lesionado_se_desconoce,trasladado_s_lesionado,hora2
count,30758.000000,30758.000000,30758.000000,30758.000000,30758.000000,30758.000000,30758.0,30758.000000,30758.000000,30758.000000,...,30758.000000,30758.000000,30758.000000,30758.000000,30758.000000,30758.000000,30758.000000,30758.000000,30758.000000,30750.000000
mean,15378.500000,2018.446388,-99.140562,19.392481,0.005787,0.142044,0.0,0.001691,0.000065,0.011639,...,0.025717,0.005137,0.019605,0.000975,1.164152,0.362052,0.781943,0.020157,0.328175,12.572780
std,8879.214126,0.497126,0.069885,0.067229,0.107430,0.436582,0.0,0.041867,0.008064,0.112870,...,0.182345,0.074167,0.144158,0.070292,0.641677,0.613230,0.578705,0.217089,0.586875,6.239031
min,0.000000,2018.000000,-99.999630,18.893255,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,7689.250000,2018.000000,-99.175600,19.346810,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,8.000000
50%,15378.500000,2018.000000,-99.141451,19.398742,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,13.000000
75%,23067.750000,2019.000000,-99.105318,19.440424,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,1.000000,18.000000
max,30757.000000,2019.000000,-98.153068,19.963880,10.000000,16.000000,0.0,2.000000,1.000000,3.000000,...,10.000000,3.000000,3.000000,10.000000,20.000000,11.000000,9.000000,12.000000,26.000000,23.000000

In [52]:
df2.describe(include=['O'])

,no_folio,fecha_evento,mes,hora,condicion,tipo_de_evento,punto_1,punto_2,colonia,alcaldia,...,edad_occiso,edad_lesionado,identidad,unidad_medica_de_apoyo,lugar_del_deceso,hospital,dia,prioridad,observaciones,coordenada
count,30758,30758,30758,30758,30758,30758,30758,30758,30758,30758,...,808,30159,30758,30758,730,8985,30758,30758,2840,30758
unique,23191,730,12,2879,2,6,4356,6657,2253,16,...,104,2619,22,456,3,542,7,3,350,30642
top,SD,2018-08-18,Diciembre,08:00:00 a. m.,LESIONADO,CHOQUE,ANILLO PERIFERICO,ANILLO PERIFERICO,CENTRO,CUAUHTEMOC,...,SD,SD,MOTOCICLISTA,ERUM,EN EL LUGAR DE LOS HECHOS,SD,viernes,BAJA,SD,"19.422542,-99.122396"
freq,7275,93,3510,34,30028,15962,1215,392,1035,5001,...,128,3174,11091,10979,718,5191,4788,20931,837,2

### Resumen

**30,758 datos de 62 columnas**
Años 2018 y 2019

**Datos perdidos**:
- tipo_vehiculo_2: 14,777
- tipo_vehiculo_3: 30,096
- tipo_vehiculo_4: 30,678
- marca_vehiculo_1: 3
- marca_vehiculo_2: 29,228
- marca_vehiculo_3: 30,105
- marca_vehiculo_4: 30,679
- edad_occiso: 29,950
- edad_lesionado: 599
- lugar_del_deceso: 30,028
- hospital: 21773
- hora2: 8
- observaciones: 27,918

**Columnas destacables**:
- condicion
- tipo_de_evento
- tipo_de_interseccion
- lesiones
- total_occisos
- total_lesionados
- identidad
- unidad_medica_de_apoyo
- lugar_del_deceso
- traslado_s_lesionado
- hospital
- prioridad

---

# Regresión

### 1. **Predicción del número de muertos o heridos**  
   - **Variable objetivo**: `TOTMUERTOS`, `TOTHERIDOS`, `total_occisos`, `total_lesionados`  
   - **Variables predictoras**: `HORA`, `MES`, `DIASEMANA`, `TIPACCID`, `EDAD`, `tipo_de_evento`, `coordenada_x`, `coordenada_y`  

En base a datos globales, se predecirá esta cantidad por día, semana o mes.


### 2. **Predicción de la cantidad de accidentes en una zona específica**  
   - **Variable objetivo**: Número de accidentes en una zona específica  
   - **Variables predictoras**: `coordenada_x`, `coordenada_y`, `hora`, `mes`, `dia`, `dia_semana`  

Se puede dividir el mapa por zonas mayormente concurridas o con mayor número de accidentes anuales y predecir cuántos accidentes ocurren en una determinada ubicación y/o momento del día.


### 3. **Predicción de la severidad de los accidentes**  
   - **Variable objetivo**: `lesiones` (puede transformarse en un valor numérico según gravedad)  
   - **Variables predictoras**: `tipo_de_evento`, `tipo_de_vehiculo_1`, `tipo_de_vehiculo_2`, `hora`, `coordenada_x`, `coordenada_y`, `edad_lesionado`, `condicion`  

Predecir la gravedad de un accidente.

# Clasificación

### 1. Causa/Tipo de accidente

# Agrupamiento

### 1. Tipo de accidente

### 2. Zona de accidente

---

# Data Cleaning

### Dataset nacional

In [53]:
df[['CALLE1', 'CALLE2', 'CARRETERA', 'LATITUD', 'LONGITUD']].head()

,CALLE1,CALLE2,CARRETERA,LATITUD,LONGITUD
0,BOULEVARD LICENCIADO ADOLFO RUÍZ CORTINES,CALLE PASEO DEL RÍO,NaN,21.87119,-102.31962
1,AVENIDA PASEO DE LA SOLIDARIDAD,AVENIDA AGUASCALIENTES NORTE,NaN,21.91522,-102.28652
2,AVENIDA UNIVERSIDAD,CALLE ABEDUL,NaN,21.90032,-102.30621
3,AVENIDA MAHATMA GANDHI,CALLE ABRAHAM GONZÁLEZ,NaN,21.84853,-102.29386
4,AVENIDA GLORIETA BENITO JUÁREZ,CALLE IGNACIO T. CHÁVEZ,NaN,21.87392,-102.30055

In [54]:
df = df.drop('CARRETERA', axis=1)

In [65]:
from geopy.geocoders import Nominatim
from time import sleep
import re

calle1_lost = df[df['CALLE1'].isnull()][['LATITUD', 'LONGITUD']]

geolocator = Nominatim(user_agent="geoapi")

regex = r"([^,]+), [^,]+, Municipio de ([^,]+), ([^,]+),"
locations = []

for index, row in calle1_lost.iterrows():
    lat = row['LATITUD']
    lon = row['LONGITUD']
    
    try:
        location = geolocator.reverse((lat, lon), language="es")
        direccion = location.address if location else "No se encontró información"
        print(direccion + '\n')
        match = re.search(regex, direccion)
        if match:
            street = match.group(1).strip()
            locations.append(street)
        else:
            print(f"No se pudo procesar la dirección: {direccion}\n")
        
        sleep(1)
    except Exception as e:
        print(f"Error con las coordenadas ({lat}, {lon}): {e}")
        
locations

Carretera Tepames - Estapilla, El Amarradero, Municipio de Colima, Colima, 28600, México

Alzada, Cerro Colorado, Municipio de Colima, Colima, 28509, México

Carretera Colima - Tepames, Tepames, Municipio de Colima, Colima, 28600, México

El Alpuyequito, Municipio de Colima, Colima, 28641, México

No se pudo procesar la dirección: El Alpuyequito, Municipio de Colima, Colima, 28641, México

Carretera al alpuyequito, El Alpuyequito, Municipio de Colima, Colima, 28641, México

Carretera Tepames - Estapilla, El Amarradero, Municipio de Colima, Colima, 28600, México

Carretera al alpuyequito, El Alpuyequito, Municipio de Colima, Colima, 28641, México

['Carretera Tepames - Estapilla',
 'Alzada',
 'Carretera Colima - Tepames',
 'Carretera al alpuyequito',
 'Carretera Tepames - Estapilla',
 'Carretera al alpuyequito']

### Dataset CDMX